{% extends "base.html" %}

{% block title %} 首页 {% endblock %}

{% block content_title %} <span class="pro_title">计算机科学</div> {% endblock %}

{% block content %}

{% if project %}
<div id="pro_info">
  <div class="pl"><img src="{{ MEDIA_URL }}{{ project.image }}" /></div>
  <div class="pr">
     <div class="box">
       <h3>授者简介</h3>
       <p class="con_p">{{ project.master }}</p>
       <p class="con_p">{{ project.m_description }}</p>
     </div>
     <div class="box">
       <h3>课程简介</h3>
       <p class="con_p">{{ project.p_description }}</p>
     </div>

     <div class="box">
       <h3>课程创建者</h3>
       <p class="con_p">{{ project.creater.username }}</p>
     </div>
   </div>
</div>
{% endif %}

<div id="share-box">
    分享到: 微博  QQ空间 豆瓣
    <a href="#">加入学习</a> <a href="#">关注本课</a>
</div>

<div id="wrapper">
  <div id="main" class="subject_info">
    <div class="box">
      <h3>课时列表<span class="add_sub">><a href="/project/create/"> 添加新课时</a></span></h3>
      <div>
      {% if subjects %}
        {% for sub in subjects %}
        <div class="zcblks1">
          <a href="{{ sub.get_absolute_url }}"><h3>第 {{ sub.s_num }} 课</h3></a>
          <p>{{ sub.name }}</p>
        </div>
        {% endfor %}
      {% else %}
         <p> none </p>
      {% endif %}
      </div>

    </div>
  </div>

  <div id="right-side" class="subject_info">
    <div class="box">
      <h3>相关信息</h3>
      <ul class="p_i">
        <li>评论： XXX 条 </li>
        <li>笔记： XXX 条 </li>
        <li>问题： XXX 个 </li>
      </ul>
    </div>
<div class="s_c">
      <h3>本课程学员</h3>
          <ul class="j_m_l">
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>
            <li><img src="/media/img/user.jpg" alt="user"></img></li>

          </ul>
     </div>
  </div>
</div>

{% endblock %}
