{% extends "base.html" %}

{% block title %} 首页 {% endblock %}

{% block content_title %} 欢迎来到 OpenClass！{% endblock %}

{% block content %}

<div id="c_list">
  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title"><a href="/project/">计算机科学</a></div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>

  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title">计算机科学</div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>

  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title">计算机科学</div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>

  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title">计算机科学</div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>

  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title">计算机科学</div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>

  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title">计算机科学</div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>

  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title">计算机科学</div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>

  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title">计算机科学</div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>

  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title">计算机科学</div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>

  <div class="c_one">
    <img src="/media/img/pro.jpg" />
    <div class="p_title">计算机科学</div>
    <div class="sns">
      <ul>
        <li>成员 XXX</li>
        <li>关注 XXX</li>
        <li>推荐 XXX</li>
      </ul>
    </div>
  </div>


</div>
{% endblock %}
